<header class="app-header navbar">
    <!--<button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>-->
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/progcursos']"><i class="fa fa-calendar fa-lg m-t-2"></i> PROGRAMACIÓN DE CURSOS </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/histacademico']"><i class="fa fa-area-chart fa-lg m-t-2"></i> HISTORIAL ACADÉMICO </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/matriweb']"><i class="icon-note icons font-2xl d-block m-t-2"></i> MATRÍCULA VÍA WEB </a>
                </li>                
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <breadcrumbs></breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="http://unab.edu.pe/web/">UNAB</a> &copy; 2017.
    <!--<span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>-->
</footer>
