<div class="animated fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-x-auto pull-xs-none vamiddle" style="margin-top: 132px;">
                <div class="card-group ">
                    <div class="card p-a-2">
                        <div class="card-block">
                            <h1>MATRÍCULA VÍA WEB</h1>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>