<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <div class="card">
        <div class="card-block">
            <label>PERIODO ACADÉMICO 2016-I</label>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>PLAN</th>
                        <th>CIC</th>
                        <th>CÓDIGO</th>
                        <th>TIPO</th>
                        <th>CRED</th>
                        <th>ASIGNATURA</th>
                        <th>CAL</th>
                        <th>SEC</th>
                        <th>ACTA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="card">
        <div class="card-block">
            <label>PERIODO ACADÉMICO 2016-II</label>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>PLAN</th>
                        <th>CIC</th>
                        <th>CÓDIGO</th>
                        <th>TIPO</th>
                        <th>CRED</th>
                        <th>ASIGNATURA</th>
                        <th>CAL</th>
                        <th>SEC</th>
                        <th>ACTA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="card">
        <div class="card-block">
            <label>PERIODO ACADÉMICO 2017-0</label>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>PLAN</th>
                        <th>CIC</th>
                        <th>CÓDIGO</th>
                        <th>TIPO</th>
                        <th>CRED</th>
                        <th>ASIGNATURA</th>
                        <th>CAL</th>
                        <th>SEC</th>
                        <th>ACTA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <!--/col-->
</div>