<div class="row">
    <div class="col-lg-12">
        <div class="card">
        <div class="card-block">
            <label>CICLO I</label>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>CÓD.</th>
                        <th>ASIG.</th>
                        <th>CRÉD.</th>
                        <th>SECC.</th>
                        <th>COD.</th>
                        <th>NOMBRE DOCENTE</th>
                        <th>TOPE</th>
                        <th>MAT.</th>
                        <th>TURNO</th>
                        <th>AULA</th>
                        <th>HORARIO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="card">
        <div class="card-block">
            <label>CICLO II</label>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>CÓD.</th>
                        <th>ASIG.</th>
                        <th>CRÉD.</th>
                        <th>SECC.</th>
                        <th>COD.</th>
                        <th>NOMBRE DOCENTE</th>
                        <th>TOPE</th>
                        <th>MAT.</th>
                        <th>TURNO</th>
                        <th>AULA</th>
                        <th>HORARIO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="card">
        <div class="card-block">
            <label>CICLO III</label>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>CÓD.</th>
                        <th>ASIG.</th>
                        <th>CRÉD.</th>
                        <th>SECC.</th>
                        <th>COD.</th>
                        <th>NOMBRE DOCENTE</th>
                        <th>TOPE</th>
                        <th>MAT.</th>
                        <th>TURNO</th>
                        <th>AULA</th>
                        <th>HORARIO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>X</td>
                        <td>XXXXX</td>
                        <td>X</td>
                        <td>X</td>
                        <td>NOMBRE DEL CURSO</td>
                        <td>XX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                        <td>X</td>
                        <td>XXXXXXXXXXX</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <!--/col-->
</div>